.header-container{
  display: flex;
  justify-content: space-evenly;
  background-color: black;
}

.header-col-image{
  min-height: 15vh;
  width: 15%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header-image{
  height: 140px;
  width: 250px;
  display: block;
  margin: 0 0;
}

.header-col-banner{
  min-height: 15vh;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #20506b;
  padding-top: 20px;
  text-align: center;
  font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
  background-image: linear-gradient(to right, black, grey);
}

p{
  font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
  font-size: 54px;
  color: white;
}
.header-col-banner div h2{
  /*position: absolute;*/
  white-space: nowrap;
  font-size: 12em;
  line-height: 100vh;
  font-family: SansSerif, sans-serif;
  animation: animate 60s linear infinite;
}
@keyframes animate
{
  0%
  {
    transform: translate(0);
  }
  100%
  {
    transform: translate(-20%);
  }
}

/*
.header-col-access-box{
  min-height: 15vh;
  width: 15%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: black;
}
*/
