*{ margin: 0; paddin:0 }

.centerdiv{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

a{
  height: 100px;
  width: 100px;
  background-color: black;
  border-radius:50%;
  text-align: center;
  margin: 10px;
  box-shadow: 1px 4px 2px 2px #dcdde1;
}

a{
  font-size: 30px;
}
