<div class="managehotel">
  <!--<img src="assets/img/sign_up.jpg" class="img_signUp">-->
  <div class="managehotel_add_container">
    <form [formGroup]="addHotelForm" (ngSubmit)="onSubmit()"  ngNativeValidate action="">
      {{addHotelForm.value|json}}
      <p>Add Hotel Details:</p>
      <div class="frm-cntrl-textDetails">
        <input type="text"  formControlName="hotelName" placeholder="Enter Hotel Name" required/>&nbsp;
      </div>
      <p>Hotel Address</p>
      <div formGroupName="addresses">
        <div class="frm-cntrl-address">
          <input type="text" formControlName="addressBldgFlat" placeholder="Flat/Building" />
          <input type="text" formControlName="addressStreet" placeholder="Street Name" />
          <input type="text" formControlName="addressCity" placeholder="City" />
          <input type="text" formControlName="addressState" placeholder="State" />
          <input type="text" formControlName="addressPincode" placeholder="Pincode" />
        </div>
        <p>Contact Details</p>
        <div class="frm-cntrl-contact">
          <input type="text"  formControlName="mobileNo" placeholder="Mobile No"/>
          <input type="text" formControlName="primaryPhone" placeholder="Landline 1 (optional)"/>
          <input type="text" formControlName="secondaryPhone" placeholder="Landline 2 (optional)"/>
        </div>
        <p>Email Id</p>
        <div class="frm-cntrl-email">
          <input type="email" formControlName="email" placeholder="Email Id"/>
        </div>
      </div>
      <div class="frm-cntrl-textDetails">
        <input type="number"  formControlName="rating" placeholder="Enter Hotel Rating" required/>
        <input type="number"  formControlName="discount" placeholder="Enter Discount percentage (Optional)" />
        <input type="text"  formControlName="hotelOperationalStatus" placeholder="Enter Hotel Operational status" required/>&nbsp;
      </div>
      <div class="frm-cntrl-textDetails">
        <input type="text"  formControlName="hotelDescription" placeholder="Enter Hotel Description" required/>
      </div>
      <div class="btn-submit">
        <input type="Submit" name="btn_Submit" value="Add Hotel"/>
      </div>

    </form>
  </div>
</div>


