<div class="registrationbox">
  <!--<img src="assets/img/sign_up.jpg" class="img_signUp">-->
  <div class="registrationbox_container">
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()"  ngNativeValidate action="">
      <p>Create your credentials</p>
      <div class="frm-cntrl-credential">
        <input type="text"  formControlName="userName" placeholder="User Name [min 6 chars]" required/>&nbsp;
        <input type="password"  formControlName="password" placeholder="Enter Password" required/>&nbsp;&nbsp;&nbsp;
        <!--<label>Confirm Password</label>
        <input type="text" name="txt_Confirm_Pwd" placeholder="Confirm Password" required/>-->
      </div>
      <p>Full Name</p>
      <div class="frm-cntrl-full-name">
        <input type="text" formControlName="firstName" placeholder="First Name" required/>
        <input type="text" formControlName="middleName" placeholder="Middle Name (optional)"/>
        <input type="text" formControlName="lastName" placeholder="Last Name" required/>
      </div>
      <p>Address</p>
      <div formGroupName="addresses">
      <div class="frm-cntrl-address">
        <input type="text" formControlName="addressBldgFlat" placeholder="Flat/Building" />
        <input type="text" formControlName="addressStreet" placeholder="Street Name" />
        <input type="text" formControlName="addressCity" placeholder="City" />
        <input type="text" formControlName="addressState" placeholder="State" />
        <input type="text" formControlName="addressPincode" placeholder="Pincode" />
      </div>
      <p>Contact Details</p>
      <div class="frm-cntrl-contact">
        <input type="text"  formControlName="mobileNo" placeholder="Mobile No"/>
        <input type="text" formControlName="primaryPhone" placeholder="Landline 1 (optional)"/>
        <input type="text" formControlName="secondaryPhone" placeholder="Landline 2 (optional)"/>
      </div>

      <p>Email Id</p>
      <div class="frm-cntrl-email">
        <input type="email" formControlName="email" placeholder="Email Id"/>
      </div>
      </div>
      <div class="btn-submit">
        <input type="Submit" name="btn_Submit" value="Sign Up"/>
      </div>

      <div>
        <label>Already have an account?</label>&nbsp; &nbsp;
        <a [routerLink]="['/login']">Sign In</a>
      </div>
    </form>
  </div>

</div>

