<!--<div class="room-container">-->
<table class="table table-bordered table-dark table table-striped">
  <tbody>
  <tr>
    <th scope="row">Filter</th>
    <th scope="row">Room Type </th>
    <th scope="row">City </th>
    <th scope="row">Rate Per Night </th>
    <th scope="row">Description</th>
  </tr>
  <tr>
    <td scope="row">Search By</td>
    <td scope="row"><input size="10" [(ngModel)]="srchRoomType"> </td>
    <td scope="row"><input size="10" [(ngModel)]="srchCity"></td>
    <td scope="row"><input size="10" [(ngModel)]="srchAmt"></td>
    <td scope="row"></td>
  </tr>
<!--  {{roomList|json}}-->
  <tr *ngFor="let eachRoom of roomList | filter: 'roomType' : srchRoomType | filter: 'addressCity' : srchCity
      | filter: 'ratePerNight' : srchAmt| paginate: {itemsPerPage: 2, currentPage:p}">
    <td scope="row" class="image">
      <div *ngIf="eachRoom.roomType == 'ECONOMY'">
        <img height="150" width="300" class="header-image" src="../../assets/img/Rooms/ECONOMY.jpg" alt="ECONOMY">
      </div>
      <div *ngIf="eachRoom.roomType == 'DELUXE'">
        <img height="150" width="300" class="header-image" src="../../assets/img/Rooms/DELUXE.jpg" alt="DELUXE">
      </div>
      <div *ngIf="eachRoom.roomType == 'SUITE'">
        <img height="150" width="300" class="header-image" src="../../assets/img/Rooms/SUITE.jpg" alt="SUITE">
      </div>
      <div *ngIf="(eachRoom.roomType !== 'SUITE') && (eachRoom.roomType !== 'DELUXE') && (eachRoom.roomType !== 'ECONOMY')">
        <img height="150" width="300" class="header-image" src="../../assets/img/Rooms/TEST.jpg" alt="Test Image">
      </div>
    </td>
    <td scope="row">{{eachRoom.roomType}}</td>
    <td scope="row">{{eachRoom.addressCity}}</td>
    <td scope="row">{{eachRoom.ratePerNight}}</td>
    <td scope="row">{{eachRoom.roomDescription}}</td>
  </tr>
  </tbody>
  <pagination-controls class="pagination-link" align="center"  (pageChange)="p=$event"></pagination-controls>
</table>

<!--</div>-->
