<div class="main-container">
<div class="navbar">
  <!--<div class="menu-item-home">Home</div>-->
  <a [routerLink]="['/home']">Home</a>
  <a [routerLink]="['/hotel']">Hotels</a>
  <a [routerLink]="['/room']">Rooms</a>
  <a [routerLink]="['/gallery']">Gallery</a>
  <div class="subnav">
    <button class="subnavbtn">Manage Hotels <i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
      <a [routerLink]="['/addhotel']" >Add Hotel</a>
      <a [routerLink]="['/updatehotel']" >Update Hotel</a>
    </div>
  </div>
  <div class="subnav">
    <button class="subnavbtn">Manage Rooms <i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
      <a [routerLink]="['/addroom']" >Add Rooms</a>
      <a [routerLink]="['/updatehotel']" >Update Hotel</a>
    </div>
  </div>
  <a [routerLink]="['/generate']">Generate Report</a>
</div>
</div>
