.navbar {
  overflow: hidden;
  background-color: black;
  height: 75vh;
  min-width: 15vh;
  /*width: 15%;*/
  display: block;
  position: relative;
}

#buttons li {
  float: left;
  list-style: none;
  text-align: center;
  background-color: #000000;
  width: 170px;
  line-height: 40px;
}

#buttons li a {
  text-decoration: none;
  color: #FFFFFF;
  display: block;
}

#buttons li a:hover {
  text-decoration: none;
  color: #000000;
  background-color: #33B5E5;
}



/*
.navbar a:hover {
  float: left;
  font-size: 16px;
  color: yellow;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
}

.subnav {
  float: left;
  overflow: auto;
}

.subnav .subnavbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
*/

