<table class="table table-bordered table-dark table table-striped">
  <tr>
    <th scope="row">Booking Id</th>
    <th scope="row">Booked From Date</th>
    <th scope="row">Booked To Date</th>
    <th scope="row">Booking Amount</th>
  </tr>
  <tr *ngFor="let eachBooking of bookingList">
    <td scope="col">{{eachBooking.bookingId}}</td>
    <td scope="col">{{eachBooking.bookedFromDate}}</td>
    <td scope="col">{{eachBooking.bookedToDate}}</td>
    <td scope="col">{{eachBooking.bookingAmount}}</td>
  </tr>
</table>
