.main-container{
  position: fixed;
  width: 100%;
  height: 100%;
}
.app-header-css{
  /*min-width: 100vmin;
  min-height: 15vmin;*/
  width: 100%;
  height: 15%;
  background-color: darkgrey;
  display: flex;
  flex-direction: column;
}

.app-body-css{
  /*min-width: 100vmin;
  min-height: 75vmin;*/
  width: 100%;
  height: 75%;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
}

.search-panel-image{
  height: 80%;
  width: 100%;
  z-index: 1;
}
.app-footer-css{
  /*min-width: 100vmin;
  min-height: 10vmin;*/
  width: 100%;
  height: 10%;
  background-color: white;
  display: flex;
  flex-direction: column;
}

/*BODY COMPONENT CSS*/
.app-body-section-css{
  display: flex;
  justify-content: space-evenly;
}

.app-body-section-left-css{
  /*min-width: 10vmin;*/
  min-height: 75vh;
  width: 15%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.app-body-section-middle-css{
  /*min-width: 70vmin;*/
  min-height: 75vh;
  width: 75%;
  max-height: 75%;
  display: flex;
  flex-direction: column;
  /*background-color: grey;*/
  overflow-y: auto;
  background: url("src/assets/img/content_lobby_04.jpg") no-repeat center fixed;
  opacity: 1.0;
  background-size: cover;
  /*width: 1024px;*/
  height: 492px;
}

.app-body-section-right-css{
  /*min-width: 20vmin;*/
  min-height: 75vh;
  width: 10%;
  height: 75%;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(black, grey);
}

.transperent{
  background: url("src/assets/img/content_lobby_04.jpg") no-repeat center fixed;
  opacity: 1.0;
  background-size: cover;
  width: 1024px;
  height: 492px;
}
