<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- Toolbar -->
<div class="main-container">
  <div class="app-header-css">
    <app-header>
    </app-header>
  </div>
  <div class="app-body-css">
    <div class="app-body-section-css">
      <div class="app-body-section-left-css">
        <app-body-section-left>
        </app-body-section-left>
      </div>
      <div class="app-body-section-middle-css">
        <!--<app-body-section-middle> </app-body-section-middle>-->
        <router-outlet></router-outlet>
      </div>
      <div class="app-body-section-right-css">
        <app-body-section-right>
        </app-body-section-right>
      </div>
    </div>
  </div>
  <div class="app-footer-css">
    <app-footer>
    </app-footer>
  </div>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


