

<div>
  <form [formGroup]="createBookingForm" (ngSubmit)="onSubmit()">
    <p>{{titleBookingText}}</p>
    <div>
      <label>Booked From Date:</label>
      <input type="date" formControlName="bookedFromDate" disabled="true">
    </div>
    <div>
      <label>Booked To Date:</label>
      <input type="date" formControlName="bookedToDate" disabled="true">
    </div>
    <div>
      <label>No Of Days Booked:</label>
      <input type="number" formControlName="daysBooked" disabled="true">
    </div>
    <div>
      <label>No Of Adults:</label>
      <input type="number" formControlName="noOfAdults" placeholder="No of Adults">
    </div>
    <div>
      <label>No Of Children:</label>
      <input type="number" formControlName="noOfChildren" placeholder="No of Children">
    </div>
    <div>
      <label>Booked By:</label>
      <input type="text" formControlName="bookedBy" placeholder="Booked By">
    </div>
    <p>{{titlePaymentText}}</p>
    <div>
      <label>Payment Amount:</label>
      <input type="number" formControlName="bookingAmount">
    </div>
<!--    <div formGroupName="paymentSet">
      <label>Payment Mode:</label>
      <input type="text" formControlName="payMode" placeholder="Select Mode">
    </div>-->
    <div formGroupName="paymentSet">
      <label>Payment Date:</label>
      <input type="date" formControlName="payDate">
    </div>
<!--    <div formGroupName="paymentSet">
      <label>Payment Status:</label>
      <input type="text" formControlName="payStatus" placeholder="Payment Status" [readOnly]=true>
    </div>-->
  </form>
