<div class="search-container">
  <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
      <table>
        <thead>
        <tr>
          <th>City</th>
          <th>Check-In Date</th>
          <th>Check-Out Date</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <ng-container *ngFor="let eachConfig of formConfigSelect">
          <td>
            <select formControlName={{eachConfig.name}}>
              <option *ngFor="let eachCity of City"
                      [value]='eachCity'>{{eachCity}}</option>
            </select>
          </td>
          </ng-container>
          <ng-container *ngFor="let eachConfig of formConfig">
          <td>
            <input type={{eachConfig.type}} placeholder={{eachConfig.placeholder}}
                   formControlName={{eachConfig.name}}>
          </td>
          <!--<td>
            <input type="date" name="date_toDate">
          </td>-->
          </ng-container>
          <td>
            <input type="Submit" name="btn_Submit" value="Search"/>
            <!--<button (click)="fetch""Search"/>-->
          </td>
        </tr>
        </tbody>
      </table>
  </form>
</div>
<!--<div>
    <table class="table table-striped">
      <tbody>
      <tr>
        <th>Loan Id</th>
        <th>Loan Type</th>
        <th>Opening Date</th>
        <th>Closing Date</th>
        <th>Loan Amount</th>
      </tr>
      <tr *ngFor="let eachCustomer of customerList">
        <td>{{eachCustomer.loanId}}</td>
        <td>{{eachCustomer.loanType}}</td>
        <td>{{eachCustomer.openDate}}</td>
        <td>{{eachCustomer.closeDate}}</td>
        <td>{{eachCustomer.loanAmount}}</td>
      </tr>
      </tbody>
    </table>
</div>-->
